@model InkStudio.Entities.Agenda

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tatuador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tatuador.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_termino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_termino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preço)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
