@model InkStudio.Entities.Agenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tatuador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tatuador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_termino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_termino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preço)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
